*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    background-color: black;
    background: url(bg1.jpg) no-repeat center center/cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #40035c;

}

.accordion {
    width: 70%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: .5px 2px 10px #333333;
    padding: 25px; 
}

.accordion h2 {
    text-align: center;
    margin-bottom: 20px;
}

.accordion .content-container .question {
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #333333;

    position: relative;
    
}

.accordion .content-container .question::after {
    content: '+';

    position: absolute;
    right: 5px;
}

.accordion .content-container .answer {
    padding-top: 10px;
    line-height: 1.5;
    width: 100%;
    
    height: 0px;
    overflow: hidden;
    transition: .5s;
}

/******** Js styling  ******/

.accordion .content-container.active .answer {
    height: 80px;
}

.accordion .content-container.active .question {
    font-size: 18px;
    transition: .5s;
}
 
.accordion .content-container.active .question::after {
    content: '-';
    font-size: 30px;
    transition: .5s; 
}